<%- include ../partials/header.ejs %>

<h1>Login to view the secreat area</h1>
<% if(messages!='') { %>
<p class="bg-primary img-rounded">
	<a href="/" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
	<%= messages %>
</p>
<% } %>
<form  method="POST">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" id="username" name="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
	</div>
	<div class="form-group">
		<input type="submit" value="Login">
	</div>
	<div class="form-group">
		Don't have an account create? <a href="/register" role="button">Create a new account</a>
	</div>
	<div class="form-group">
		<a class="btn btn-warning" href="/auth/github" role="button"><img width="2%" src="/images/auth/github.png"> Login With GitHub</a>
	</div>
</form>

<%- include ../partials/footer.ejs %>